// Color variables
$color-primary: #282F44;
$color-secondary: #D55672;
$color-light: #E5E7E6;

// Global reset
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $color-primary;
}

.todo {
    height: 100vh;
}

// Typography 
.todo__title {
    color: $color-secondary;
    font-size: 5.5rem;
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 4rem;
}